.container {
    max-width: 800px;
    margin: 50px auto;
}

button {
    display: block;
    margin: 10px 0;
}

section {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}