.container {
    position: relative;
    max-width: 500px;
    padding: 50px;
    margin: 0 auto;
}

.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
}

.btns {
    float: right;
}

input{
    display: block;
    margin: 10px 0;
}
  
#city{
    display: none;
}

.result{
    margin: 15px 0;
}